*
{
    margin: 0;
    padding: 0;
}

.box{
    background-color: red;
    width: 100px;
    height: 100px;
}

.box2{
    background-color: blue;
    width: 300px;
    height: 400px;
    border: red 2px;
}

.box3{
    background-color: green;
    width: 250px;
    height: 600px;
    border-radius: 6px;
}

.myDiv{
    width: 400px;
    color: white;
}

.myDiv2{
    width: 800px;
    color: orange;
    text-align: right;
}

html{
    background-color: rebeccapurple;
}
